<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>
<h1>Dr.House</h1>
<h2>registration: </h2>
<form method="post" th:action="@{/}" th:object="${patient}">
    <label>Name</label>
    <input th:field="*{name}" type="text"/>
    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Incorrect input</p>
    <label>Symptoms</label>
    <input th:field="*{symptoms}" type="text"/>
    <p th:errors="*{symptoms}" th:if="${#fields.hasErrors('symptoms')}">Incorrect input</p>
    <button type="submit">Sign in</button>
</form>
<a th:href="@{/invoices}">See All Invoices</a>

</body>
</html>